
/* 
    Created on : 23-Mar-2018, 23:25:37
    Author     : ichi
*/


/* nav */

#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
	} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #fff; 
	} 

/* Book search form */
.form-wrapper {
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    border: 3px solid #73AD21;
    padding: 20px;    
}
.search_comment{
    line-height: 80%;   
}
.text_form{
    margin-top: 20px;
}
.radio_choice{
    margin-top: 15px;
}

/* Book search display */
.criteria{
    font-size: 19px;
    color: #000080;
}
.book_search{
    max-width: 900px;
    padding: 30px;
    margin: auto;
}
#title{
    
    color: #0000CD;
}
#author{
    font-size: 19px;
}
.result_wrapper>p{
    font-size: 16px;
}


/* css
*/